# Estadística para Ciencia de Datos
# Laboratorio # 3
## Tipo de Dato Dataframe

En este laboratorio utilizamos la sentencia import para cargar las librerías pandas y numpy de Python para trabajar con un dataframe.

In [ ]:
import pandas as pd
import numpy as np

Utilizamos el método read_csv para cargar el dataset Operaciones.csv en el dataframe df_operaciones. La ruta va a depender donde tienes almacenado tu archivo csv.

In [ ]:
df_operaciones = pd.read_csv('data/Operaciones.csv')

Por default el método head() devuelve las 5 primeras filas del dataframe.

In [ ]:
df_operaciones.head()

Podemos cambiar el valor por default del método head() indicando entre los paréntesis el número de filas a devolver.

In [ ]:
df_operaciones.head(3)

El método info() nos devuelve información básica del dataframe.

In [ ]:
df_operaciones.info()

El método dtypes nos dice el tipo de dato para cada columna del dataframe.

In [ ]:
df_operaciones.dtypes

Consultando los nombres de columna del dataframe. Estas son nuestras variables.

In [ ]:
df_operaciones.columns.values

Consultando los índices del dataframe. Asi se identifica cada fila.

In [ ]:
df_operaciones.index.values

El método size nos dice cuantos datos hay en el dataframe. Se obtiene de multiplicar el número de filas por el número de columnas.

In [ ]:
df_operaciones.size

El método shape nos devuelve el par de valores (filas, columnas) del dataframe.

In [ ]:
df_operaciones.shape

A diferencia del método head(), el método tail() nos devuelve las últimas 5 filas del dataframe.

In [ ]:
df_operaciones.tail()

In [ ]:
df_operaciones.tail(2)

## Obtener porciones de datos del dataframe

Devuelve las operaciones del contienente americano.

In [ ]:
df_operaciones [(df_operaciones['CONTINENTE'] == 'America')].head()

Devuelve las operaciones de América y el tipo de cliente Persona.

In [ ]:
df_operaciones [(df_operaciones['CONTINENTE'] == 'America') & (df_operaciones['TIPO CLIENTE'] == 'Persona')].head()

Obtener solo las columnas VENTAS y PAIS.

In [ ]:
df_operaciones[['VENTAS','PAIS']].head()

Otra forma de obtener porciones de datos es con el método LOC. LOC se basa principalmente en etiquetas. Cuando usamos los dos argumentos, estos son el índice de las filas y encabezados de la columna.
En el ejemplo se obtienen las columnas VENTAS y PAIS de la primera fila. Recordar que por default, los índices de fila comienzan con cero.

In [ ]:
df_operaciones.loc[0,['VENTAS','PAIS']]

Observa que el tipo de dato ha cambiado. El resultado no es un dataframe sino de tipo Series.

In [ ]:
type(df_operaciones.loc[0,['VENTAS','PAIS']])

Otra forma de hacerlo y que el resultado sea un dataframe.

In [ ]:
df_operaciones.loc[0:0,['VENTAS','PAIS']]

In [ ]:
type(df_operaciones.loc[0:0,['VENTAS','PAIS']])

In [ ]:
df_operaciones.loc[1:2,['VENTAS','PAIS']]

Otra forma es con el método ILOC. ILOC se basa en números enteros. Utiliza números de fila y números de columna para obtener filas o columnas en posiciones específicas del dataframe.
Abajo la instrucción equivalente para obtener las filas 1 y 2 con las columnas VENTAS y PAIS obtenido con LOC.

In [ ]:
df_operaciones.iloc[1:3,4:7]

No del todo bien. Hemos cargado también la columna devoluciones. A continuación la instrucción ajustada.

In [ ]:
df_operaciones.iloc[1:3,[4,6]]

El método astype nos permite modificar el tipo de dato para una o varias columnas separado por coma. Al principio del laborotario vemos que la columna CLIENTE se importó con el tipo de dato int64. Aunque es cierto que es un número, para efectos prácticos no lo es. Mas bien deberíamos trabajarla como una variable categórica. Asi que modificamos el tipo de dato a object.

In [ ]:
df_operaciones = df_operaciones.astype({'CLIENTE': 'object'})

In [ ]:
df_operaciones.dtypes

Agregando variables calculadas a nuestro dataframe.

In [ ]:
df_operaciones['UTILIDAD'] = df_operaciones['VENTAS'] - df_operaciones['COMPRAS']
df_operaciones.head()

### Ejercicio 1: Obtener un listado de todas las operaciones de Europa cuyo tipo de pago sea Transferencia Bancaria.

In [ ]:
# Escribe tu cúdigo aqui

### Ejercicio 2: Extrae las columnas CLIENTE, PAIS y CONTINENTE de las filas 5,6 y 7 del Dataframe.

In [ ]:
# Escribe tu código aqui

### Ejercicio 3: Crea un nueva columna con el nombre DESCUENTO y asigna como valor el 15% de cada fila de la columna VENTAS.

In [ ]:
# Escribe tu código aqui